@font-face {
    font-family: 'ImageVerificationCodeFont';
    src: url('./ImageVerificationCodeFont.ttf');
    src: url('./ImageVerificationCodeFont.ttf') format('truetype'),
        url('./ImageVerificationCodeFont.svg') format('svg'),
        url('./ImageVerificationCodeFont.otf') format('opentype'),
        url('./ImageVerificationCodeFont.woff') format('woff'),
        url('./ImageVerificationCodeFont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}